[Unit]
Description=Run Raptus Discord Bot every 6 hours of every day

[Timer]
Unit=raptus-discordbot.service
OnCalendar=4/12:00

[Install]
WantedBy=timers.target
